{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true,
    "mocha": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:i18n-json/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "brace-style": ["error", "1tbs"],
    "semi": ["error", "always"],
    "quotes": ["error", "single"],
    "indent": ["error", 2],
    "i18n-json/valid-json": 2,
    "i18n-json/sorted-keys": 2,
    "i18n-json/identical-keys": [2, {
      "filePath": "../../../../src/i18n/es.json"
    }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}