<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Catalunya Offline</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>3.2.0</string>
    <key>CFBundleVersion</key>
    <string>3.2.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <string>YES</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>YES</string>
    <key>NSCameraUsageDescription</key>
    <string>Access to camera is used to attach photos to your points and tracks</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>We use your location while the device is locked for track recording</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Location services will allow us to display your position on the map and, if you choose to, record and save the track of your hike for you to keep or share or relive it.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>Access to photos is used to attach them to your points and tracks</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Photos will be saved to attach them to your points and tracks</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>location</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <true/>
    <key>UTImportedTypeDeclarations</key>
    <array>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.xml</string>
        </array>
        <key>UTTypeDescription</key>
        <string>GPS Exchange Format (GPX)</string>
        <key>UTTypeIdentifier</key>
        <string>com.topografix.gpx</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>gpx</string>
            <string>GPX</string>
          </array>
          <key>public.mime-type</key>
          <string>application/gpx+xml</string>
        </dict>
      </dict>
      <dict>
        <key>UTTypeConformsTo</key>
        <array>
          <string>public.xml</string>
        </array>
        <key>UTTypeDescription</key>
        <string>Google Earth KML Document</string>
        <key>UTTypeIdentifier</key>
        <string>com.google.earth.kml</string>
        <key>UTTypeTagSpecification</key>
        <dict>
          <key>public.filename-extension</key>
          <array>
            <string>kml</string>
            <string>KML</string>
          </array>
          <key>public.mime-type</key>
          <string>application/vnd.google-earth.kml+xml</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
